# EMA Lab Notebook

__Name:__ Daniel Smith

__PI:__ A7603242

In [1]:
# import the required libraries
# required imports
import pandas as pd
import scipy.stats
import pymongo
import bson
import collections
from matplotlib import pyplot
import seaborn as sns

## Contents 

- [Data preparation](#preparation)
- [Cleaning the dataset](#cleaning)
- [Q1. KS4 Investigation](#q1)
- [Application of Machine Learning](#machine_learning)
- [Q2. KS2 - KS4 Investigation](#q)

# Data preparation
<a name="importing"></a>

Before we can investigate the data we will to have a look at it, determine what cleaning if any needs doing, carry out the cleaning and store it for access in an appropriate form.

## Importing the KS2 data into a pandas dataframe

These steps are from the TMA02_Question_2b file.  I will use them to clean the datasets before storing away into mongo_db for easier querying.

### Import the LEA data

In [2]:
leas_df = pd.read_csv('data/2015-2016/la_and_region_codes_meta.csv')
leas_df.head()

   LEA               LA Name  REGION   REGION NAME
0  841            Darlington       1  North East A
1  840         County Durham       1  North East A
2  805            Hartlepool       1  North East A
3  806         Middlesbrough       1  North East A
4  807  Redcar and Cleveland       1  North East A

### Import the KS2 data
Most of the  field names are given in the ks2_meta file, so we will use that to keep a track of the types of the various columns

In [3]:
ks2cols = pd.read_csv('data/2015-2016/ks2_meta.csv')
ks2cols['Field Name'] = ks2cols['Field Name'].apply(lambda r: r.strip())
ks2cols

,Column,Field Name,Label/Description
0,1,RECTYPE,Record type (1=mainstream school; 2=special sc...
1,2,ALPHAIND,Alphabetic index
2,3,LEA,Local authority number
3,4,ESTAB,Establishment number
4,5,URN,School unique reference number
5,6,SCHNAME,School/Local authority name
6,7,ADDRESS1,School address (1)
7,8,ADDRESS2,School address (2)
8,9,ADDRESS3,School address (3)
9,10,TOWN,School town
10,11,PCODE,School postcode
11,12,TELNUM,School telephone number
12,13,URN_AC,Converter academy: URN
13,14,SCHNAME_AC,Converter academy: name
14,15,OPEN_AC,Converter academy: open date
15,16,NFTYPE,School type
16,17,ICLOSE,Closed Flag
17,18,RELDENOM,Religious denomination
18,19,AGERANGE,Age range
19,20,CONFEXAM,Confirmation flag that core performance inform...
20,21,TAB15,School published in secondary school (key stag...
21,22,TAB1618,School published in school and college (key st...
22,23,TOTPUPS,Total number of pupils (including part-time pu...
23,24,TPUPYEAR,Number of pupils aged 11
24,25,TELIG,Published eligible pupil number
25,26,BELIG,Eligible boys on school roll at time of tests
26,27,GELIG,Eligible girls on school roll at time of tests
27,28,PBELIG,Percentage of eligible boys on school roll at ...
28,29,PGELIG,Percentage of eligible girls on school roll at...
29,30,TKS1AVERAGE,Cohort level key stage 1 average points score
...,...,...,...
229,230,PTGPS_HIGH_M,Percentage of pupils with medium prior attainm...
230,231,PTGPS_HIGH_H,Percentage of pupils with high prior attainmen...
231,232,PTGPS_HIGH_FSM6CLA1A,Percentage of disadvantaged pupils achieving a...
232,233,PTGPS_HIGH_NotFSM6CLA1A,Percentage of non-disadvantaged pupils achievi...
233,234,PTMAT_HIGH_L,Percentage of pupils with low prior attainment...
234,235,PTMAT_HIGH_M,Percentage of pupils with medium prior attainm...
235,236,PTMAT_HIGH_H,Percentage of pupils with high prior attainmen...
236,237,PTMAT_HIGH_FSM6CLA1A,Percentage of disadvantaged pupils achieving a...
237,238,PTMAT_HIGH_NotFSM6CLA1A,Percentage of non-disadvantaged pupils achievi...
238,239,PTWRITTA_HIGH_L,Percentage of pupils with low prior attainment...
239,240,PTWRITTA_HIGH_M,Percentage of pupils with medium prior attainm...
240,241,PTWRITTA_HIGH_H,Percentage of pupils with high prior attainmen...
241,242,PTWRITTA_HIGH_FSM6CLA1A,Percentage of disadvantaged pupils working at ...
242,243,PTWRITTA_HIGH_NotFSM6CLA1A,Percentage of non-disadvantaged pupils working...
243,244,TEALGRP1,Number of eligible pupils with English as firs...
244,245,PTEALGRP1,Percentage of eligible pupils with English as ...
245,246,TEALGRP3,Number of eligible pupils with unclassified la...
246,247,PTEALGRP3,Percentage of eligible pupils with unclassifie...
247,248,TSENELAPK,Number of eligible pupils with SEN without sta...
248,249,PSENELSAPK,Percentage of eligible pupils with SEN without...
249,250,TSENELE,Number of eligible pupils with EHC plan
250,251,PSENELE,Percentage of eligible pupils with EHC plan
251,252,TSENELK,Number of eligible pupils with SEN support
252,253,PSENELK,Percentage of eligible pupils with SEN support
253,254,TSENELST,Number of eligible pupils with SEN (Special Ed...
254,255,PSENELST,Percentage of eligible pupils with SEN (Specia...
255,256,TSENELSAP,Number of eligible pupils with School Action Plus
256,257,PSENELSAP,Percentage of eligible pupils with School Acti...
257,258,SENELN,Number of eligible pupils with SEN (Special Ed...
258,259,PSENELN,Percentage of eligible pupils with SEN (Specia...

Some columns contain integers, but ___pandas___ will treat any numeric column with `na` values as `float64`, due to NumPys number hierachy.

In [4]:
int_cols = [c for c in ks2cols['Field Name'] 
            if c.startswith('T')
            if c not in ['TOWN', 'TELNUM', 'TKS1AVERAGE']]
int_cols += ['RECTYPE', 'ALPHAIND', 'LEA', 'ESTAB', 'URN', 'URN_AC', 'ICLOSE']
int_cols += ['READ_AVERAGE', 'GPS_AVERAGE', 'MAT_AVERAGE']

Some columns contain percentages. We'll convert these to floating point numbers on import.

Note that we also need to handle the case of `SUPP` and `NEW` in the data.

In [39]:
def p2f(x):
    if x.strip('%').isnumeric():
        return float(x.strip('%'))/100
    elif x in ['SUPP', 'NEW', 'LOWCOV', 'NA', '']:
        return 0.0
    else:
        return x

These are the columns to try to convert from percentages. Note that we can be generous here, as columns like PCODE (postcode) will return the original value if the conversion fails.

In [6]:
percent_cols = [f for f in ks2cols['Field Name'] if f.startswith('P')]
percent_cols += ['WRITCOV', 'MATCOV', 'READCOV'] 
percent_cols += ['PTMAT_HIGH', 'PTREAD_HIGH', 'PSENELSAPK', 'PSENELK', 'PTGPS_HIGH']
percent_converters = {c: p2f for c in percent_cols}

In [7]:
ks2_df = pd.read_csv('data/2015-2016/england_ks2final.csv', 
                   na_values=['SUPP', 'NEW', 'LOWCOV', 'NA', ''],
                   converters=percent_converters)

Drop the summary rows, keeping just the rows for mainstream and special schools.

In [8]:
ks2_df = ks2_df[(ks2_df['RECTYPE'] == 1) | (ks2_df['RECTYPE'] == 2)]

Convert everything to numbers, if possible.

In [9]:
ks2_df = ks2_df.apply(pd.to_numeric, errors='ignore')

Merge the LEA data into the school data

In [10]:
ks2_df = pd.merge(ks2_df, leas_df, on=['LEA'])
ks2_df.head().T

,0,1,2,3,4
RECTYPE,1,1,1,1,1
ALPHAIND,53372,11156,11160,11256,16366
LEA,201,202,202,202,202
ESTAB,3614,3323,3327,2842,2184
URN,100000,100028,100029,130342,100013
SCHNAME,Sir John Cass's Foundation Primary School,"Christ Church Primary School, Hampstead",Christ Church School,Christopher Hatton Primary School,Edith Neville Primary School
ADDRESS1,St James's Passage,Christ Church Hill,Redhill Street,38 Laystall Street,174 Ossulston Street
ADDRESS2,Duke's Place,NaN,Camden,NaN,NaN
ADDRESS3,NaN,NaN,NaN,NaN,NaN
TOWN,London,London,London,London,London
PCODE,EC3A 5DE,NW3 1JH,NW1 4BD,EC1R 4PQ,NW1 1DN
TELNUM,0207 2831147,0207 4351361,0207 3877881,0207 2784500,0207 3877158
URN_AC,0,0,0,0,0
SCHNAME_AC,NaN,NaN,NaN,NaN,NaN
OPEN_AC,NaN,NaN,NaN,NaN,NaN
NFTYPE,VA,VA,VA,CY,CY
ICLOSE,0,0,0,0,0
RELDENOM,Church of England,Church of England,Church of England,Does not apply,Does not apply
AGERANGE,3-11,4-11,3-11,3-11,3-11
CONFEXAM,NaN,NaN,NaN,NaN,NaN
TAB15,0,0,0,0,0
TAB1618,0,0,0,0,0
TOTPUPS,250,181,229,233,221
TPUPYEAR,28,23,29,28,29
TELIG,28,21,28,28,29
BELIG,16,16,17,16,9
GELIG,12,5,11,12,20
PBELIG,0.57,0.76,0.61,0.57,0.31
PGELIG,0.43,0.24,0.39,0.43,0.69
TKS1AVERAGE,16,16.7,14,16,14.5
...,...,...,...,...,...
PTGPS_HIGH_NotFSM6CLA1A,0.31,0,0.27,0.5,0.56
PTMAT_HIGH_L,0,0,0,0,0
PTMAT_HIGH_M,0.15,0.25,0.16,0.12,0.32
PTMAT_HIGH_H,0.33,0.83,0,0.29,0
PTMAT_HIGH_FSM6CLA1A,0.08,0,0.12,0.17,0.25
PTMAT_HIGH_NotFSM6CLA1A,0.25,0,0.18,0.25,0.44
PTWRITTA_HIGH_L,0,0,0,0,0
PTWRITTA_HIGH_M,0.05,0.33,0.11,0.06,0.09
PTWRITTA_HIGH_H,0.5,0.83,0,0.57,0
PTWRITTA_HIGH_FSM6CLA1A,0,0,0.18,0.17,0.1
PTWRITTA_HIGH_NotFSM6CLA1A,0.25,0,0.09,0.19,0.11
TEALGRP1,10,7,13,11,0
PTEALGRP1,0.36,0.33,0.46,0.39,0
TEALGRP3,0,0,0,0,0
PTEALGRP3,0,0,0,0,0
TSENELAPK,5,2,6,5,11
PSENELSAPK,0.18,0.1,0.21,0.18,0.38
TSENELE,0,0,1,0,0
PSENELE,0,0,0.04,0,0
TSENELK,5,2,6,5,11
PSENELK,0.18,0.1,0.21,0.18,0.38
TSENELST,0,0,0,0,0
PSENELST,0,0,0,0,0
TSENELSAP,0,0,0,0,0
PSENELSAP,0,0,0,0,0
SENELN,0,0,0,0,0
PSENELN,0,0,0,0,0
LA Name,City of London,Camden,Camden,Camden,Camden
REGION,32,31,31,31,31
REGION NAME,London East,London Central,London Central,London Central,London Central

## Importing the KS4 data into a pandas dataframe

Now to adapt the steps above to clean and import the KS4 data.  Again these steps are from the the TMA02_Question2b-pd file.  I will use them to clean the datasets before storing away into mongo_db for easier querying.

Again most of the field names are given in the `ks4_meta` file, so we'll import that first.

In [11]:
ks4cols = pd.read_csv('data/2015-2016/ks4_meta.csv')
ks4cols.head()

,Column,Metafile heading,Metafile description,Methodology changes,Null field for special schools,Null field for local authority records,Null field for National (all schools) records,Null field for National (maintained schools) records,Unnamed: 8,Unnamed: 9
0,1,RECTYPE,Record type (1=mainstream school; 2=special sc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,ALPHAIND,Alphabetic sorting index,NaN,NaN,Yes,Yes,Yes,NaN,NaN
2,3,LEA,Local authority code (see separate list of loc...,NaN,NaN,NaN,Yes,Yes,NaN,NaN
3,4,ESTAB,Establishment number,NaN,NaN,Yes,Yes,Yes,NaN,NaN
4,5,URN,School Unique Reference Number,NaN,NaN,Yes,Yes,Yes,NaN,NaN

There are some extra columns in comparison to the ks2_meta file.  For our purposes we can drop these from the df.

In [12]:
# note can only run once, so added control flow
if not 'Field Name' in ks4cols.columns:
    ks4cols = ks4cols[['Column','Metafile heading', 'Metafile description']]
    # rename the columns to match the KS2cols df
    ks4cols.columns = ['Column','Field Name', 'Label/Description']

In [13]:
ks4cols['Field Name'] = ks4cols['Field Name'].apply(lambda r: r.strip())
ks4cols

,Column,Field Name,Label/Description
0,1,RECTYPE,Record type (1=mainstream school; 2=special sc...
1,2,ALPHAIND,Alphabetic sorting index
2,3,LEA,Local authority code (see separate list of loc...
3,4,ESTAB,Establishment number
4,5,URN,School Unique Reference Number
5,6,SCHNAME,School name
6,7,SCHNAME_AC,School now known as (used if the school has co...
7,8,ADDRESS1,School address (1)
8,9,ADDRESS2,School address (2)
9,10,ADDRESS3,School address (3)
10,11,TOWN,School town
11,12,PCODE,School postcode
12,13,TELNUM,School telephone number
13,14,CONTFLAG,Contingency flag - school results 'significant...
14,15,ICLOSE,Closed school flag (0=open; 1=closed)
15,16,NFTYPE,School type (see separate list of abbreviation...
16,17,RELDENOM,School religious character
17,18,ADMPOL,School admissions policy (self-declared by sch...
18,19,EGENDER,School gender of entry
19,20,FEEDER,Indicates whether school is a feeder school fo...
20,21,TABKS2,Indicates whether school is published in the p...
21,22,TAB1618,Indicates whether school is published in the s...
22,23,AGERANGE,Age range
23,24,CONFEXAM,Indicates whether the school has checked its r...
24,25,TOTPUPS,Number of pupils on roll (all ages)
25,26,NUMBOYS,Total boys on roll (including part-time pupils)
26,27,NUMGIRLS,Total girls on roll (including part-time pupils)
27,28,TPUP,Number of pupils at the end of key stage 4
28,29,BPUP,Number of boys at the end of key stage 4
29,30,PBPUP,Percentage of pupils at the end of key stage 4...
...,...,...,...
342,343,TNOTFSMCLA_14,Number of non-disadvantaged pupils at the end ...
343,344,PTNOTFSMCLA_14,Percentage of pupils at the end of key stage 4...
344,345,TFSM6CLA1A_15,Number of disadvantaged pupils at the end of k...
345,346,PTFSM6CLA1A_15,Percentage of pupils at the end of key stage 4...
346,347,TNOTFSM6CLA1A_15,Number of non-disadvantaged pupils at the end ...
347,348,PTNOTFSM6CLA1A_15,Percentage of pupils at the end of key stage 4...
348,349,TAVENT_E_3NG_PTQ_EE,Average number of GCSE and equivalents entries...
349,350,TAVENT_E_3NG_LO_PTQ_EE,Average number of GCSE and equivalents entries...
350,351,TAVENT_E_3NG_AV_PTQ_EE,Average number of GCSE and equivalents entries...
351,352,TAVENT_E_3NG_HI_PTQ_EE,Average number of GCSE and equivalents entries...
352,353,TAVENT_E_3NG_FSM6CLA1A_PTQ_EE,Average number of GCSE and equivalents entries...
353,354,TAVENT_E_3NG_NFSM6CLA1A_PTQ_EE,Average number of GCSE and equivalents entries...
354,355,TAVENT_EFSM_13,Average number of GCSE and equivalents entries...
355,356,TAVENT_ENFSM_13,Average number of GCSE and equivalents entries...
356,357,TAVENT_EFSM_14_PTQ,Average number of GCSE and equivalents entries...
357,358,TAVENT_ENFSM_14_PTQ,Average number of GCSE and equivalents entries...
358,359,TAVENT_EFSM6CLA1A_15_PTQ_EE,Average number of GCSE and equivalents entries...
359,360,TAVENT_ENFSM6CLA1A_15_PTQ_EE,Average number of GCSE and equivalents entries...
360,361,TAVENT_G_PTQ_EE,Average number of GCSE entries per pupil
361,362,TAVENT_GLO_PTQ_EE,Average number of GCSE entries per pupil with ...
362,363,TAVENT_GAV_PTQ_EE,Average number of GCSE entries per pupil with ...
363,364,TAVENT_GHI_PTQ_EE,Average number of GCSE entries per pupil with ...
364,365,TAVENT_GFSM6CLA1A_PTQ_EE,Average number of GCSE entries per disadvantag...
365,366,TAVENT_GNFSM6CLA1A_PTQ_EE,Average number of GCSE entries per non-disadva...
366,367,TAVENT_GFSM_13,Average number of GCSE entries per disadvantag...
367,368,TAVENT_GNFSM_13,Average number of GCSE entries per non-disadva...
368,369,TAVENT_GFSM_14_PTQ,Average number of GCSE entries per disadvantag...
369,370,TAVENT_GNFSM_14_PTQ,Average number of GCSE entries per non-disadva...
370,371,TAVENT_GFSM6CLA1A_15_PTQ_EE,Average number of GCSE entries per disadvantag...
371,372,TAVENT_GNFSM6CLA1A_15_PTQ_EE,Average number of GCSE entries per non-disadva...

Many of the fields are similar to the ks2 file so we need to carry out the same processing if the data.

In [42]:
int_cols = [c for c in ks4cols['Field Name'] 
            if c.startswith('T')
            if c not in ['TOWN', 'TELNUM', 'TKS1AVERAGE']]
int_cols += ['RECTYPE', 'ALPHAIND', 'LEA', 'ESTAB', 'URN', 'ICLOSE']

Again we will convert the percentages.  And handle the missing data keys again.

In [60]:
# reuse the p2f function to handle the % values and missing values
percent_cols = [f for f in ks4cols['Field Name'] if f.startswith('P')]
percent_converters = {c: p2f for c in percent_cols}

In [73]:
ks4_fields = [f for f in ks4cols['Field Name']]
for p in percent_cols:
    if p not in ks4_fields:
        print(p)

In [112]:
def p2f(x):
    if x.strip('%').isnumeric():
        return float(x.strip('%'))/100
    elif x in ['SUPP', 'NEW', 'LOWCOV', 'NA', '']:
        return NaN
    else:
        return x

In [113]:
# read in the ks4final data
ks4_df = pd.read_csv('data/2015-2016/england_ks4final.csv',
                     na_values=['SUPP', 'NEW', 'LOWCOV', 'NA', 'NP', ''],
                     converters=percent_converters,
                     low_memory=False
                    )

Drop any summary rows, keeping only the Mainstream and special schools.  After double checking they are the same as in the ks2 data.

In [114]:
print(ks4cols.iloc[0]['Label/Description'])

Record type (1=mainstream school; 2=special school; 4=local authority; 5=National (all schools); 7=National (maintained schools))

_note:_  Although the values are different for the summary rows to the KS2 meta data, the 1 and 2 are the same.

In [115]:
ks4_df = ks4_df[(ks4_df['RECTYPE'] == 1) | (ks4_df['RECTYPE'] == 2)]

Convert everything to numbers, if possible.

In [116]:
ks4_df = ks4_df.apply(pd.to_numeric, errors='ignore')

Merge the LEA data into the school data

In [117]:
ks4_df = pd.merge(ks4_df, leas_df, on=['LEA'])
ks4_df.head().T

,0,1,2,3,4
RECTYPE,1,1,1,1,1
ALPHAIND,11828,11830,368,9318,10054
LEA,201,201,202,202,202
ESTAB,6007,6005,4285,4611,6000
URN,100003,100001,100053,100054,137333
SCHNAME,City of London School,City of London School for Girls,Acland Burghley School,The Camden School for Girls,CATS College London
SCHNAME_AC,,,,,
ADDRESS1,Queen Victoria Street,St Giles' Terrace,Burghley Road,Sandall Road,43-45 Bloomsbury Square & 2 Southampton Place
ADDRESS2,,Barbican,,,
ADDRESS3,,,,,
TOWN,London,London,London,London,London
PCODE,EC4V 3AL,EC2Y 8BB,NW5 1UJ,NW5 2DB,WC1A 2RA
TELNUM,0207 4890291,0207 8475500,0207 4858515,0207 4853414,0207 8411580
CONTFLAG,0,0,0,0,0
ICLOSE,0,0,0,0,0
NFTYPE,IND,IND,CY,VA,IND
RELDENOM,None,None,Does not apply,None,None
ADMPOL,,,COMP,COMP,
EGENDER,BOYS,GIRLS,MIXED,GIRLS,MIXED
FEEDER,0,0,1,0,0
TABKS2,0,0,0,0,0
TAB1618,1,1,1,1,1
AGERANGE,10-18,7-18,11-18,11-18,15-24
CONFEXAM,,,,,
TOTPUPS,918,730,974,1006,255
NUMBOYS,918,NaN,628,NaN,128
NUMGIRLS,NaN,730,346,849,127
TPUP,139,90,172,111,11
BPUP,139,NaN,109,NaN,9
PBPUP,1,0,0.63,0,0.82
...,...,...,...,...,...
PTFSM6CLA1A_15,0,0,0.56,0.41,0
TNOTFSM6CLA1A_15,NaN,NaN,75,65,NaN
PTNOTFSM6CLA1A_15,0,0,0.44,0.59,0
TAVENT_E_3NG_PTQ_EE,5.6,4.2,9.1,9.3,0.7
TAVENT_E_3NG_LO_PTQ_EE,NaN,NaN,6.9,7.1,NaN
TAVENT_E_3NG_AV_PTQ_EE,NaN,NaN,9.1,8.6,NaN
TAVENT_E_3NG_HI_PTQ_EE,NaN,NaN,9.9,10.3,NaN
TAVENT_E_3NG_FSM6CLA1A_PTQ_EE,NaN,NaN,8.7,8.2,NaN
TAVENT_E_3NG_NFSM6CLA1A_PTQ_EE,NaN,NaN,9.6,10,NaN
TAVENT_EFSM_13,NaN,NaN,8.7,9.3,NaN
TAVENT_ENFSM_13,NaN,NaN,9.9,9.8,NaN
TAVENT_EFSM_14_PTQ,NaN,NaN,9.2,7.5,NaN
TAVENT_ENFSM_14_PTQ,NaN,NaN,10.3,8.7,NaN
TAVENT_EFSM6CLA1A_15_PTQ_EE,NaN,NaN,9.7,7.9,NaN
TAVENT_ENFSM6CLA1A_15_PTQ_EE,NaN,NaN,11.5,9,NaN
TAVENT_G_PTQ_EE,5.3,3.9,8.8,9,0.6
TAVENT_GLO_PTQ_EE,NaN,NaN,6.1,6.6,NaN
TAVENT_GAV_PTQ_EE,NaN,NaN,8.9,8.2,NaN
TAVENT_GHI_PTQ_EE,NaN,NaN,9.8,10.2,NaN
TAVENT_GFSM6CLA1A_PTQ_EE,NaN,NaN,8.4,7.8,NaN
TAVENT_GNFSM6CLA1A_PTQ_EE,NaN,NaN,9.5,9.8,NaN
TAVENT_GFSM_13,NaN,NaN,8.1,8.6,NaN
TAVENT_GNFSM_13,NaN,NaN,9.8,9.3,NaN
TAVENT_GFSM_14_PTQ,NaN,NaN,9,7.3,NaN
TAVENT_GNFSM_14_PTQ,NaN,NaN,10.2,8.6,NaN
TAVENT_GFSM6CLA1A_15_PTQ_EE,NaN,NaN,8.4,7.5,NaN
TAVENT_GNFSM6CLA1A_15_PTQ_EE,NaN,NaN,10.6,8.9,NaN
LA Name,City of London,City of London,Camden,Camden,Camden
REGION,32,32,31,31,31
REGION NAME,London East,London East,London Central,London Central,London Central

In [106]:
ks4_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5335 entries, 0 to 5334
Columns: 375 entries, RECTYPE to REGION NAME
dtypes: float64(1), int64(11), object(363)
memory usage: 15.3+ MB

Again, this is a rather large dataframe.  To save memory on the VM once I have got the data into mongodb, I will delete the df.

In [123]:
### Export the cleaned KS4 data into MongoDB

# Open Refine

Cleaning the data is difficult so I'm going to look at it using openrefine

In [125]:
# TODO

## Exporting the cleaned KS2 and KS4 data into MongoDB

In [23]:
# export the cleaned ks2 data to a csv
ks2_df.to_csv('data/2015-2016/cleaned_ks2.csv')

In [24]:
!/usr/bin/mongoimport --port 27351 --drop --db schools_db --collection ks2_results \
    --type csv --headerline --ignoreBlanks \
    --file data/2015-2016/cleaned_ks2.csv

2018-05-19T13:45:11.994+0000	connected to: localhost:27351
2018-05-19T13:45:11.994+0000	dropping: schools_db.ks2_results
2018-05-19T13:45:14.994+0000	[###############.........] schools_db.ks2_results	11.6MB/17.5MB (66.0%)
2018-05-19T13:45:16.422+0000	[########################] schools_db.ks2_results	17.5MB/17.5MB (100.0%)
2018-05-19T13:45:16.422+0000	imported 16162 documents

In [25]:
# open a connection to the mongo db
client = pymongo.MongoClient('mongodb://localhost:27351/')

# open the imported database
db = client.schools_db

In [26]:
# open the imported collection
ks2_results = db.ks2_results

Check the number of imported matches the length of the original dataframe

In [27]:
len(ks2_df), ks2_results.find().count()

(16162, 16162)

Great, let's quickly look at one of the documents.

In [28]:
ks2_results.find_one()

{'': 0,
 'ADDRESS1': "St James's Passage",
 'ADDRESS2': "Duke's Place",
 'AGERANGE': '3-11',
 'ALPHAIND': 53372.0,
 'BELIG': 16.0,
 'DIFFN_MATPROG': 2.7,
 'DIFFN_READPROG': 0.6,
 'DIFFN_RWM_EXP': 23.0,
 'DIFFN_RWM_HIGH': -7.0,
 'DIFFN_WRITPROG': 0.2,
 'ESTAB': 3614.0,
 'GELIG': 12.0,
 'GPS_AVERAGE': 106.0,
 'GPS_AVERAGE_FSM6CLA1A': 105.0,
 'GPS_AVERAGE_H': 110.0,
 'GPS_AVERAGE_M': 105.0,
 'GPS_AVERAGE_NotFSM6CLA1A': 107.0,
 'ICLOSE': 0.0,
 'LA Name': 'City of London',
 'LEA': 201.0,
 'MATCOV': 1.0,
 'MATPROG': 3.0,
 'MATPROG_B': 2.9,
 'MATPROG_B_LOWER': 0.3,
 'MATPROG_B_UPPER': 5.5,
 'MATPROG_EAL': 3.1,
 'MATPROG_EAL_LOWER': 0.6,
 'MATPROG_EAL_UPPER': 5.6,
 'MATPROG_FSM6CLA1A': 2.9,
 'MATPROG_FSM6CLA1A_LOWER': -0.1,
 'MATPROG_FSM6CLA1A_UPPER': 5.9,
 'MATPROG_G': 3.1,
 'MATPROG_G_LOWER': 0.1,
 'MATPROG_G_UPPER': 6.1,
 'MATPROG_H': 0.4,
 'MATPROG_H_LOWER': -3.9,
 'MATPROG_H_UPPER': 4.7,
 'MATPROG_LOWER': 1.0,
 'MATPROG_M': 3.3,
 'MATPROG_MOBN': 3.0,
 'MATPROG_MOBN_LOWER': 1.0,
 'MATPROG_MOBN_UPPER': 5.0,
 'MATPROG_M_LOWER': 1.0,
 'MATPROG_M_UPPER': 5.6,
 'MATPROG_NotFSM6CLA1A': 3.0,
 'MATPROG_NotFSM6CLA1A_LOWER': 0.4,
 'MATPROG_NotFSM6CLA1A_UPPER': 5.6,
 'MATPROG_UPPER': 5.0,
 'MAT_AVERAGE': 106.0,
 'MAT_AVERAGE_FSM6CLA1A': 106.0,
 'MAT_AVERAGE_H': 108.0,
 'MAT_AVERAGE_M': 106.0,
 'MAT_AVERAGE_NotFSM6CLA1A': 107.0,
 'NFTYPE': 'VA',
 'PBELIG': 0.57,
 'PCODE': 'EC3A 5DE',
 'PGELIG': 0.43,
 'PSENELE': 0.0,
 'PSENELK': 0.18,
 'PSENELN': 0.0,
 'PSENELSAP': 0.0,
 'PSENELSAPK': 0.18,
 'PSENELSE': 0.0,
 'PSENELST': 0.0,
 'PTEALGRP1': 0.36,
 'PTEALGRP2': 0.64,
 'PTEALGRP3': 0.0,
 'PTFSM6CLA1A': 0.43,
 'PTGPS_AT': 0.0,
 'PTGPS_EXP': 0.96,
 'PTGPS_EXP_FSM6CLA1A': 1.0,
 'PTGPS_EXP_H': 1.0,
 'PTGPS_EXP_L': 0.0,
 'PTGPS_EXP_M': 0.95,
 'PTGPS_EXP_NotFSM6CLA1A': 0.94,
 'PTGPS_HIGH': 0.18,
 'PTGPS_HIGH_FSM6CLA1A': 0.0,
 'PTGPS_HIGH_H': 0.33,
 'PTGPS_HIGH_L': 0.0,
 'PTGPS_HIGH_M': 0.15,
 'PTGPS_HIGH_NotFSM6CLA1A': 0.31,
 'PTKS1GROUP_H': 0.21,
 'PTKS1GROUP_L': 0.07,
 'PTKS1GROUP_M': 0.71,
 'PTKS1GROUP_NA': 0.0,
 'PTMATTA_AD': 0.0,
 'PTMATTA_EXP': 0.96,
 'PTMAT_AT': 0.0,
 'PTMAT_EXP': 1.0,
 'PTMAT_EXP_FSM6CLA1A': 1.0,
 'PTMAT_EXP_H': 1.0,
 'PTMAT_EXP_L': 0.0,
 'PTMAT_EXP_M': 1.0,
 'PTMAT_EXP_NotFSM6CLA1A': 1.0,
 'PTMAT_HIGH': 0.18,
 'PTMAT_HIGH_FSM6CLA1A': 0.08,
 'PTMAT_HIGH_H': 0.33,
 'PTMAT_HIGH_L': 0.0,
 'PTMAT_HIGH_M': 0.15,
 'PTMAT_HIGH_NotFSM6CLA1A': 0.25,
 'PTMOBN': 1.0,
 'PTNotFSM6CLA1A': 0.57,
 'PTREADTA_AD': 0.0,
 'PTREADTA_EXP': 0.93,
 'PTREAD_AT': 0.0,
 'PTREAD_EXP': 0.93,
 'PTREAD_EXP_FSM6CLA1A': 0.92,
 'PTREAD_EXP_H': 1.0,
 'PTREAD_EXP_L': 0.0,
 'PTREAD_EXP_M': 0.9,
 'PTREAD_EXP_NotFSM6CLA1A': 0.94,
 'PTREAD_HIGH': 0.18,
 'PTREAD_HIGH_FSM6CLA1A': 0.08,
 'PTREAD_HIGH_H': 0.67,
 'PTREAD_HIGH_L': 0.0,
 'PTREAD_HIGH_M': 0.05,
 'PTREAD_HIGH_NotFSM6CLA1A': 0.25,
 'PTRWM_EXP': 0.89,
 'PTRWM_EXP_B': 0.88,
 'PTRWM_EXP_EAL': 0.83,
 'PTRWM_EXP_FSM6CLA1A': 0.83,
 'PTRWM_EXP_G': 0.92,
 'PTRWM_EXP_H': 1.0,
 'PTRWM_EXP_L': 0.0,
 'PTRWM_EXP_M': 0.9,
 'PTRWM_EXP_MOBN': 0.89,
 'PTRWM_EXP_NotFSM6CLA1A': 0.94,
 'PTRWM_HIGH': 0.07,
 'PTRWM_HIGH_B': 0.06,
 'PTRWM_HIGH_EAL': 0.11,
 'PTRWM_HIGH_FSM6CLA1A': 0.0,
 'PTRWM_HIGH_G': 0.08,
 'PTRWM_HIGH_H': 0.33,
 'PTRWM_HIGH_L': 0.0,
 'PTRWM_HIGH_M': 0.0,
 'PTRWM_HIGH_MOBN': 0.07,
 'PTRWM_HIGH_NotFSM6CLA1A': 0.13,
 'PTSCITA_AD': 0.0,
 'PTSCITA_EXP': 1.0,
 'PTWRITTA_AD': 0.0,
 'PTWRITTA_EXP': 0.96,
 'PTWRITTA_EXP_FSM6CLA1A': 0.92,
 'PTWRITTA_EXP_H': 1.0,
 'PTWRITTA_EXP_L': 0.0,
 'PTWRITTA_EXP_M': 1.0,
 'PTWRITTA_EXP_NotFSM6CLA1A': 1.0,
 'PTWRITTA_HIGH': 0.14,
 'PTWRITTA_HIGH_FSM6CLA1A': 0.0,
 'PTWRITTA_HIGH_H': 0.5,
 'PTWRITTA_HIGH_L': 0.0,
 'PTWRITTA_HIGH_M': 0.05,
 'PTWRITTA_HIGH_NotFSM6CLA1A': 0.25,
 'PTWRITTA_WTS': 0.04,
 'READCOV': 1.0,
 'READPROG': 2.7,
 'READPROG_B': 1.0,
 'READPROG_B_LOWER': -2.1,
 'READPROG_B_UPPER': 4.1,
 'READPROG_EAL': 2.5,
 'READPROG_EAL_LOWER': -0.4,
 'READPROG_EAL_UPPER': 5.4,
 'READPROG_FSM6CLA1A': 0.9,
 'READPROG_FSM6CLA1A_LOWER': -2.7,
 'READPROG_FSM6CLA1A_UPPER': 4.5,
 'READPROG_G': 4.9,
 'READPROG_G_LOWER': 1.3,
 'READPROG_G_UPPER': 8.5,
 'READPROG_H': 2.8,
 'READPROG_H_LOWER': -2.2,
 'READPROG_H_UPPER': 7.8,
 'READPROG_LOWER': 0.4,
 'READPROG_M': 1.9,
 'READPROG_MOBN': 2.7,
 'READPROG_MOBN_LOWER': 0.4,
 'READPROG_MOBN_UPPER': 5.0,
 'READPROG_M_LOWER': -0.9,
 'READPROG_M_UPPER': 4.7,
 'READPROG_NotFSM6CLA1A': 4.0,
 'READPROG_NotFSM6CLA1A_LOWER': 0.9,
 'READPROG_NotFSM6CLA1A_UPPER': 7.1,
 'READPROG_UPPER': 5.0,
 'READ_AVERAGE': 106.0,
 'READ_AVERAGE_FSM6CLA1A': 104.0,
 'READ_AVERAGE_H': 111.0,
 'READ_AVERAGE_M': 104.0,
 'READ_AVERAGE_NotFSM6CLA1A': 107.0,
 'RECTYPE': 1,
 'REGION': 32,
 'REGION NAME': 'London East',
 'RELDENOM': 'Church of England',
 'SCHNAME': "Sir John Cass's Foundation Primary School",
 'SENELN': 0.0,
 'TAB15': 0.0,
 'TAB1618': 0.0,
 'TEALGRP1': 10.0,
 'TEALGRP2': 18.0,
 'TEALGRP3': 0.0,
 'TELIG': 28.0,
 'TELNUM': '0207 2831147',
 'TFSM6CLA1A': 12.0,
 'TKS1AVERAGE': 16.0,
 'TKS1GROUP_H': 6.0,
 'TKS1GROUP_L': 2.0,
 'TKS1GROUP_M': 20.0,
 'TKS1GROUP_NA': 0.0,
 'TMOBN': 28.0,
 'TNotFSM6CLA1A': 16.0,
 'TOTPUPS': 250.0,
 'TOWN': 'London',
 'TPUPYEAR': 28.0,
 'TSENELAPK': 5.0,
 'TSENELE': 0.0,
 'TSENELK': 5.0,
 'TSENELSAP': 0.0,
 'TSENELSE': 0.0,
 'TSENELST': 0.0,
 'URN': 100000.0,
 'URN_AC': 0.0,
 'WRITCOV': 1.0,
 'WRITPROG': 2.2,
 'WRITPROG_B': 1.3,
 'WRITPROG_B_LOWER': -1.8,
 'WRITPROG_B_UPPER': 4.4,
 'WRITPROG_EAL': 2.3,
 'WRITPROG_EAL_LOWER': -0.6,
 'WRITPROG_EAL_UPPER': 5.2,
 'WRITPROG_FSM6CLA1A': 0.3,
 'WRITPROG_FSM6CLA1A_LOWER': -3.3,
 'WRITPROG_FSM6CLA1A_UPPER': 3.9,
 'WRITPROG_G': 3.4,
 'WRITPROG_G_LOWER': -0.2,
 'WRITPROG_G_UPPER': 7.0,
 'WRITPROG_H': 2.2,
 'WRITPROG_H_LOWER': -2.8,
 'WRITPROG_H_UPPER': 7.2,
 'WRITPROG_LOWER': -0.1,
 'WRITPROG_M': 2.0,
 'WRITPROG_MOBN': 2.2,
 'WRITPROG_MOBN_LOWER': -0.1,
 'WRITPROG_MOBN_UPPER': 4.5,
 'WRITPROG_M_LOWER': -0.8,
 'WRITPROG_M_UPPER': 4.8,
 'WRITPROG_NotFSM6CLA1A': 3.6,
 'WRITPROG_NotFSM6CLA1A_LOWER': 0.5,
 'WRITPROG_NotFSM6CLA1A_UPPER': 6.7,
 'WRITPROG_UPPER': 4.5,
 '_id': ObjectId('5b002a687d77975b30509d3b')}

We don't need the ks2_df dataframe any longer so I will delete it from memory.

In [29]:
del ks2_df

## Export the KS4 data into MongoDB

In [118]:
# export the cleaned ks4 data to a csv
ks4_df.to_csv('data/2015-2016/cleaned_ks4.csv')

In [119]:
!/usr/bin/mongoimport --port 27351 --drop --db schools_db --collection ks4_results \
    --type csv --headerline --ignoreBlanks \
    --file data/2015-2016/cleaned_ks4.csv

2018-05-19T14:17:56.617+0000	connected to: localhost:27351
2018-05-19T14:17:56.617+0000	dropping: schools_db.ks4_results
2018-05-19T14:17:58.691+0000	imported 5335 documents

In [120]:
# open the imported collection
ks4_results = db.ks4_results

Check the number of imported matches the length of the original dataframe

In [121]:
len(ks4_df), ks4_results.find().count()

(5335, 5335)

Great, let's quickly look at one of the documents.

In [122]:
ks4_results.find_one()

{'': 0,
 'AC5EM13': '0%',
 'AC5EM14_PTQ': '0%',
 'AC5EM15_PTQ_EE': '0%',
 'AC5EM16_PTQ_EE': '0%',
 'ADDRESS1': 'Queen Victoria Street',
 'AGERANGE': '10-18',
 'ALPHAIND': 11828,
 'ATT8SCR': 42.1,
 'ATT8SCREBAC': 22.2,
 'ATT8SCRENG': 7.3,
 'ATT8SCRMAT': 0,
 'ATT8SCROPEN': 12.6,
 'ATT8SCROPENG': 10.4,
 'ATT8SCROPENNG': 2.2,
 'ATT8SCR_BOYS': 42.1,
 'BPUP': 139,
 'CONTFLAG': 0,
 'EGENDER': 'BOYS',
 'ESTAB': 6007,
 'FEEDER': 0,
 'ICLOSE': 0,
 'LA Name': 'City of London',
 'LEA': 201,
 'NFTYPE': 'IND',
 'NUMBOYS': 918,
 'P8CILOW': 'NP',
 'P8CILOW_15': 0.0,
 'P8CILOW_AV': 'NP',
 'P8CILOW_BOYS': 'NP',
 'P8CILOW_EAL': 'NP',
 'P8CILOW_FSM6CLA1A': 'NP',
 'P8CILOW_GIRLS': 0.0,
 'P8CILOW_HI': 'NP',
 'P8CILOW_LO': 'NP',
 'P8CILOW_NFSM6CLA1A': 'NP',
 'P8CILOW_NMOB': 'NP',
 'P8CIUPP': 'NP',
 'P8CIUPP_15': 0.0,
 'P8CIUPP_AV': 'NP',
 'P8CIUPP_BOYS': 'NP',
 'P8CIUPP_EAL': 'NP',
 'P8CIUPP_FSM6CLA1A': 'NP',
 'P8CIUPP_GIRLS': 0.0,
 'P8CIUPP_HI': 'NP',
 'P8CIUPP_LO': 'NP',
 'P8CIUPP_NFSM6CLA1A': 'NP',
 'P8CIUPP_NMOB': 'NP',
 'P8MEA': 'NP',
 'P8MEACOV': 'NP',
 'P8MEAEBAC': 'NP',
 'P8MEAEBAC_CILOW': 'NP',
 'P8MEAEBAC_CILOW_FSM6CLA1A': 'NP',
 'P8MEAEBAC_CILOW_NFSM6CLA1A': 'NP',
 'P8MEAEBAC_CIUPP': 'NP',
 'P8MEAEBAC_CIUPP_FSM6CLA1A': 'NP',
 'P8MEAEBAC_CIUPP_NFSM6CLA1A': 'NP',
 'P8MEAEBAC_FSM6CLA1A': 'NP',
 'P8MEAEBAC_NFSM6CLA1A': 'NP',
 'P8MEAENG': 'NP',
 'P8MEAENG_CILOW': 'NP',
 'P8MEAENG_CILOW_FSM6CLA1A': 'NP',
 'P8MEAENG_CILOW_NFSM6CLA1A': 'NP',
 'P8MEAENG_CIUPP': 'NP',
 'P8MEAENG_CIUPP_FSM6CLA1A': 'NP',
 'P8MEAENG_CIUPP_NFSM6CLA1A': 'NP',
 'P8MEAENG_FSM6CLA1A': 'NP',
 'P8MEAENG_NFSM6CLA1A': 'NP',
 'P8MEAMAT': 'NP',
 'P8MEAMAT_CILOW': 'NP',
 'P8MEAMAT_CILOW_FSM6CLA1A': 'NP',
 'P8MEAMAT_CILOW_NFSM6CLA1A': 'NP',
 'P8MEAMAT_CIUPP': 'NP',
 'P8MEAMAT_CIUPP_FSM6CLA1A': 'NP',
 'P8MEAMAT_CIUPP_NFSM6CLA1A': 'NP',
 'P8MEAMAT_FSM6CLA1A': 'NP',
 'P8MEAMAT_NFSM6CLA1A': 'NP',
 'P8MEAOPEN': 'NP',
 'P8MEAOPEN_CILOW': 'NP',
 'P8MEAOPEN_CILOW_FSM6CLA1A': 'NP',
 'P8MEAOPEN_CILOW_NFSM6CLA1A': 'NP',
 'P8MEAOPEN_CIUPP': 'NP',
 'P8MEAOPEN_CIUPP_FSM6CLA1A': 'NP',
 'P8MEAOPEN_CIUPP_NFSM6CLA1A': 'NP',
 'P8MEAOPEN_FSM6CLA1A': 'NP',
 'P8MEAOPEN_NFSM6CLA1A': 'NP',
 'P8MEA_15': 0.0,
 'P8MEA_AV': 'NP',
 'P8MEA_BOYS': 'NP',
 'P8MEA_EAL': 'NP',
 'P8MEA_FSM6CLA1A': 'NP',
 'P8MEA_GIRLS': 0.0,
 'P8MEA_HI': 'NP',
 'P8MEA_LO': 'NP',
 'P8MEA_NFSM6CLA1A': 'NP',
 'P8MEA_NMOB': 'NP',
 'P8PUP': 'NP',
 'P8PUP_15': 0.0,
 'P8PUP_AV': 'NP',
 'P8PUP_BOYS': 'NP',
 'P8PUP_EAL': 'NP',
 'P8PUP_FSM6CLA1A': 'NP',
 'P8PUP_GIRLS': 0.0,
 'P8PUP_HI': 'NP',
 'P8PUP_LO': 'NP',
 'P8PUP_NFSM6CLA1A': 'NP',
 'P8PUP_NMOB': 'NP',
 'PBEBACC_E_PTQ_EE': 0.0,
 'PBEBACC_PTQ_EE': 0.0,
 'PBL2BASICS_LL_PTQ_EE': 0.0,
 'PBPUP': 1.0,
 'PCODE': 'EC4V 3AL',
 'PGEBACC_E_PTQ_EE': 'NE',
 'PGEBACC_PTQ_EE': 'NE',
 'PGL2BASICS_LL_PTQ_EE': 'NE',
 'PGPUP': 0.0,
 'PSENAPK4': 0.0,
 'PSENSE4': 0.0,
 'PTAC5EM_PTQ_EE': 0.0,
 'PTANYQ_PTQ_EE': 1.0,
 'PTBASICS_LL_AV_PTQ_EE': 'NP',
 'PTBASICS_LL_HI_PTQ_EE': 'NP',
 'PTBASICS_LL_LO_PTQ_EE': 'NP',
 'PTEALGRP1': 'NP',
 'PTEALGRP2': 'NP',
 'PTEALGRP3': 'NP',
 'PTEBAC2SCIAG_PTQ_EE': 'NE',
 'PTEBAC2SCI_E_PTQ_EE': 0.0,
 'PTEBAC2SCI_PTQ_EE': 'NE',
 'PTEBACCAG_PTQ_EE': 0.0,
 'PTEBACCAV_PTQ_EE': 'NP',
 'PTEBACCEAL_PTQ_EE': 'NP',
 'PTEBACCHI_PTQ_EE': 'NP',
 'PTEBACCLO_PTQ_EE': 'NP',
 'PTEBACCNMOB_PTQ_EE': 'NP',
 'PTEBACC_13': 0.0,
 'PTEBACC_14_PTQ': 0.0,
 'PTEBACC_15_PTQ_EE': 0.0,
 'PTEBACC_EAV_PTQ_EE': 'NP',
 'PTEBACC_EEAL_PTQ_EE': 'NP',
 'PTEBACC_EFSM6CLA1A_15_PTQ_EE': 0.0,
 'PTEBACC_EFSM6CLA1A_PTQ_EE': 'NP',
 'PTEBACC_EFSM_13': 0.0,
 'PTEBACC_EFSM_14_PTQ': 0.0,
 'PTEBACC_EHI_PTQ_EE': 'NP',
 'PTEBACC_ELO_PTQ_EE': 'NP',
 'PTEBACC_ENFSM6CLA1A_15_PTQ_EE': 0.0,
 'PTEBACC_ENFSM6CLA1A_PTQ_EE': 'NP',
 'PTEBACC_ENFSM_13': 0.0,
 'PTEBACC_ENFSM_14_PTQ': 0.0,
 'PTEBACC_ENMOB_PTQ_EE': 'NP',
 'PTEBACC_E_13': 0.0,
 'PTEBACC_E_14_PTQ': 0.0,
 'PTEBACC_E_15_PTQ_EE': 0.0,
 'PTEBACC_E_PTQ_EE': 0.0,
 'PTEBACC_FSM6CLA1A_15_PTQ_EE': 0.0,
 'PTEBACC_FSM6CLA1A_PTQ_EE': 'NP',
 'PTEBACC_FSM_13': 0.0,
 'PTEBACC_FSM_14_PTQ': 0.0,
 'PTEBACC_NFSM6CLA1A_15_PTQ_EE': 0.0,
 'PTEBACC_NFSM6CLA1A_PTQ_EE': 'NP',
 'PTEBACC_NFSM_13': 0.0,
 'PTEBACC_NFSM_14_PTQ': 0.0,
 'PTEBACC_PTQ_EE': 0.0,
 'PTEBACENGAG_LL_PTQ_EE': 0.0,
 'PTEBACENG_E_PTQ_EE': 0.0,
 'PTEBACENG_LL_PTQ_EE': 0.0,
 'PTEBACHUMAG_PTQ_EE': 1.0,
 'PTEBACHUM_E_PTQ_EE': 0.97,
 'PTEBACHUM_PTQ_EE': 1.0,
 'PTEBACLANAG_PTQ_EE': 1.0,
 'PTEBACLAN_E_PTQ_EE': 1.0,
 'PTEBACLAN_PTQ_EE': 1.0,
 'PTEBACMATAG_PTQ_EE': 0.0,
 'PTEBACMAT_E_PTQ_EE': 0.0,
 'PTEBACMAT_PTQ_EE': 0.0,
 'PTFSM6CLA1A': 'NP',
 'PTFSM6CLA1ABASICS_15_PTQ_EE': 0.0,
 'PTFSM6CLA1ABASICS_LL_PTQ_EE': 'NP',
 'PTFSM6CLA1A_15': 0.0,
 'PTFSMBASICS_13': 0.0,
 'PTFSMBASICS_14_PTQ': 0.0,
 'PTFSMCLA_13': 0.0,
 'PTFSMCLA_14': 0.0,
 'PTL2BASICS_13': 0.0,
 'PTL2BASICS_14_PTQ': 0.0,
 'PTL2BASICS_15_PTQ_EE': 0.0,
 'PTL2BASICS_3YR_PTQ_EE': 0.0,
 'PTL2BASICS_LL_EAL_PTQ_EE': 'NP',
 'PTL2BASICS_LL_NMOB_PTQ_EE': 'NP',
 'PTL2BASICS_LL_PTQ_EE': 0.0,
 'PTNMOB': 'NP',
 'PTNOTFSM6CLA1A': 'NP',
 'PTNOTFSM6CLA1ABASICS_15_PTQ_EE': 0.0,
 'PTNOTFSM6CLA1ABASICS_LL_PTQ_EE': 'NP',
 'PTNOTFSM6CLA1A_15': 0.0,
 'PTNOTFSMBASICS_13': 0.0,
 'PTNOTFSMBASICS_14_PTQ': 0.0,
 'PTNOTFSMCLA_13': 0.0,
 'PTNOTFSMCLA_14': 0.0,
 'PTPRIORAV': 'NP',
 'PTPRIORHI': 'NP',
 'PTPRIORLO': 'NP',
 'PTmultiLan_E': 0.68,
 'PTtripleSci_E': 0.0,
 'RECTYPE': 1,
 'REGION': 32,
 'REGION NAME': 'London East',
 'RELDENOM': 'None',
 'SCHNAME': 'City of London School',
 'TAB1618': 1,
 'TABKS2': 0,
 'TAVENT_E_3NG_PTQ_EE': 5.6,
 'TAVENT_G_PTQ_EE': 5.3,
 'TEBAC2SCIAG_PTQ_EE': 'NE',
 'TEBAC2SCI_E_PTQ_EE': 0,
 'TEBAC2SCI_PTQ_EE': 'NE',
 'TEBACCAG_PTQ_EE': 0,
 'TEBACC_E_PTQ_EE': 0,
 'TEBACENGAG_LL_PTQ_EE': 0,
 'TEBACENG_E_PTQ_EE': 0,
 'TEBACENG_LL_PTQ_EE': 0,
 'TEBACHUMAG_PTQ_EE': 135,
 'TEBACHUM_E_PTQ_EE': 135,
 'TEBACHUM_PTQ_EE': 135,
 'TEBACLANAG_PTQ_EE': 139,
 'TEBACLAN_E_PTQ_EE': 139,
 'TEBACLAN_PTQ_EE': 139,
 'TEBACMATAG_PTQ_EE': 0,
 'TEBACMAT_E_PTQ_EE': 0,
 'TEBACMAT_PTQ_EE': 0,
 'TELNUM': '0207 4890291',
 'TOTATT8': 5849,
 'TOTATT8EBAC': 3085.3,
 'TOTATT8ENG': 1012,
 'TOTATT8MAT': 0,
 'TOTATT8OPEN': 1751.8,
 'TOTATT8OPENG': 1452.5,
 'TOTATT8OPENNG': 299.3,
 'TOTPUPS': 918.0,
 'TOWN': 'London',
 'TPUP': 139,
 'URN': 100003,
 '_id': ObjectId('5b0032157d77975b30513268')}

## Initial look at the KS4 results dataset
Let's have a quick look at the data we will be looking at for the EMA.

In [35]:
!head -5 'data/2015-2016/england_ks4final.csv'

In [36]:
!wc -l 'data/2015-2016/england_ks4final.csv'

5489 data/2015-2016/england_ks4final.csv

The dataset has 5489 rows of data, there appears to be a large number of columns and a lot of codes that I'll need to look up.  There are a also a number of `NA` and `NP` values that could be missing data.  As well as this results data I will need to find and import the relevent metadata file.

Looking through the data/2015-2016 folder there are a number of files that have information on these codes.

In [37]:
!ls data/2015-2016/

abbreviations.xlsx	    england_spine.csv
abs_meta.csv		    england_swf.csv
census_meta.csv		    england_vaqual.csv
cleaned_ks2.csv		    england_vasubj.csv
cleaned_ks4.csv		    ks2_meta.csv
england_abs.csv		    ks4_meta.csv
england_census.csv	    ks4_meta_methodology.csv
england_cfrfull.xlsx	    ks4-pupdest_meta.csv
england_ks2final.csv	    ks5_meta.csv
england_ks4final.csv	    ks5-studest_meta.csv
england_ks4-pupdest.csv     la_and_region_codes_meta.csv
england_ks4underlying.xlsx  sixth_form_centres_and_consortia_meta.xlsx
england_ks5final.csv	    spine_meta.csv
england_ks5-studest.csv     swf_meta.csv
england_ks5underlying.xlsx

There is an abbreviations file, stored as an xlsx file.  I'll have a quick glance at it in excel.  Having looked the abbreviation up in the abbreviations file we can see that they have the following meanings:

- _NA_: Not Applicable
- _NP_: Not Published

However, before importing the results data I want to look at it in Open Refine and decide what I will do with the missing data.

## Open Refine

Looking at the `england_ks4final.csv` file in OpenRefine I can see that the NA and NP values are in many places there are also SUPP values.

However, with there being so many columns to facet and edit one by one it will become very tedious, and a lot of them may have no bearing on my investigations.  Therefore it will actually be easier and more efficient to handle these in the querying of the database. Therefore no changes were made to the file in open refine.

## Choosing MongoDB

With so many columns to investigate I am leaning towards using a DBMS to make the querying of the data more efficient than in a pandas dataframe.  Therefore, I will import the data into MongoDB.  I chose a document database system as they are far more flexible than a relational database.  In this investigation it may become necessary to add fields to certain documents for example.

# Q1 - KS4 Investigation
<a name="q1"></a>

## Does the type of school impact the overall academic performance results of students at KS4?

# Application of Machine Learning
<a name="machine_learning"></a>

# Q2 - KS2-KS4 Investigation
<a name="q2"></a>

## Do top performing schools at KS2 deliver similar  good or better results at KS4

# Cleanup remove the database

Uncomment the lines below to remove the MongoDB created in the investigation.

In [38]:
# uncomment to remove the database if needed
# client.drop_database('schools_db')

# check which databases are currently in client
# client.database_names()