# EMA Lab Notebook
Daniel Smith
A7m

In [2]:
# import the required libraries
import pandas as pd
import scipy.stats

## Import the LEA data
note: This section is from the OU TMA02 Q2 notebook (pandas)

In [6]:
leas_df = pd.read_csv('data/2015-2016/la_and_region_codes_meta.csv')
leas_df.head()

   LEA               LA Name  REGION   REGION NAME
0  841            Darlington       1  North East A
1  840         County Durham       1  North East A
2  805            Hartlepool       1  North East A
3  806         Middlesbrough       1  North East A
4  807  Redcar and Cleveland       1  North East A

## Import the KS2 data
note: This section is from the OU TMA02 Q2 notebook (pandas)

Most of the field names are given in the ks2_meta file, so we'll use that to keep track of the types of various columns.

In [7]:
ks2cols = pd.read_csv('data/2015-2016/ks2_meta.csv')
ks2cols['Field Name'] = ks2cols['Field Name'].apply(lambda r: r.strip(),)
ks2cols

,Column,Field Name,Label/Description
0,1,RECTYPE,Record type (1=mainstream school; 2=special sc...
1,2,ALPHAIND,Alphabetic index
2,3,LEA,Local authority number
3,4,ESTAB,Establishment number
4,5,URN,School unique reference number
5,6,SCHNAME,School/Local authority name
6,7,ADDRESS1,School address (1)
7,8,ADDRESS2,School address (2)
8,9,ADDRESS3,School address (3)
9,10,TOWN,School town
10,11,PCODE,School postcode
11,12,TELNUM,School telephone number
12,13,URN_AC,Converter academy: URN
13,14,SCHNAME_AC,Converter academy: name
14,15,OPEN_AC,Converter academy: open date
15,16,NFTYPE,School type
16,17,ICLOSE,Closed Flag
17,18,RELDENOM,Religious denomination
18,19,AGERANGE,Age range
19,20,CONFEXAM,Confirmation flag that core performance inform...
20,21,TAB15,School published in secondary school (key stag...
21,22,TAB1618,School published in school and college (key st...
22,23,TOTPUPS,Total number of pupils (including part-time pu...
23,24,TPUPYEAR,Number of pupils aged 11
24,25,TELIG,Published eligible pupil number
25,26,BELIG,Eligible boys on school roll at time of tests
26,27,GELIG,Eligible girls on school roll at time of tests
27,28,PBELIG,Percentage of eligible boys on school roll at ...
28,29,PGELIG,Percentage of eligible girls on school roll at...
29,30,TKS1AVERAGE,Cohort level key stage 1 average points score
...,...,...,...
229,230,PTGPS_HIGH_M,Percentage of pupils with medium prior attainm...
230,231,PTGPS_HIGH_H,Percentage of pupils with high prior attainmen...
231,232,PTGPS_HIGH_FSM6CLA1A,Percentage of disadvantaged pupils achieving a...
232,233,PTGPS_HIGH_NotFSM6CLA1A,Percentage of non-disadvantaged pupils achievi...
233,234,PTMAT_HIGH_L,Percentage of pupils with low prior attainment...
234,235,PTMAT_HIGH_M,Percentage of pupils with medium prior attainm...
235,236,PTMAT_HIGH_H,Percentage of pupils with high prior attainmen...
236,237,PTMAT_HIGH_FSM6CLA1A,Percentage of disadvantaged pupils achieving a...
237,238,PTMAT_HIGH_NotFSM6CLA1A,Percentage of non-disadvantaged pupils achievi...
238,239,PTWRITTA_HIGH_L,Percentage of pupils with low prior attainment...
239,240,PTWRITTA_HIGH_M,Percentage of pupils with medium prior attainm...
240,241,PTWRITTA_HIGH_H,Percentage of pupils with high prior attainmen...
241,242,PTWRITTA_HIGH_FSM6CLA1A,Percentage of disadvantaged pupils working at ...
242,243,PTWRITTA_HIGH_NotFSM6CLA1A,Percentage of non-disadvantaged pupils working...
243,244,TEALGRP1,Number of eligible pupils with English as firs...
244,245,PTEALGRP1,Percentage of eligible pupils with English as ...
245,246,TEALGRP3,Number of eligible pupils with unclassified la...
246,247,PTEALGRP3,Percentage of eligible pupils with unclassifie...
247,248,TSENELAPK,Number of eligible pupils with SEN without sta...
248,249,PSENELSAPK,Percentage of eligible pupils with SEN without...
249,250,TSENELE,Number of eligible pupils with EHC plan
250,251,PSENELE,Percentage of eligible pupils with EHC plan
251,252,TSENELK,Number of eligible pupils with SEN support
252,253,PSENELK,Percentage of eligible pupils with SEN support
253,254,TSENELST,Number of eligible pupils with SEN (Special Ed...
254,255,PSENELST,Percentage of eligible pupils with SEN (Specia...
255,256,TSENELSAP,Number of eligible pupils with School Action Plus
256,257,PSENELSAP,Percentage of eligible pupils with School Acti...
257,258,SENELN,Number of eligible pupils with SEN (Special Ed...
258,259,PSENELN,Percentage of eligible pupils with SEN (Specia...