# Sample import of KS2 data into a pandas dataframe

In [1]:
# Import the required libraries

import pandas as pd
import scipy.stats

## Import the LEA data

In [2]:
leas_df = pd.read_csv('data/2015-2016/la_and_region_codes_meta.csv')
leas_df.head()

   LEA               LA Name  REGION   REGION NAME
0  841            Darlington       1  North East A
1  840         County Durham       1  North East A
2  805            Hartlepool       1  North East A
3  806         Middlesbrough       1  North East A
4  807  Redcar and Cleveland       1  North East A

# Import the KS2 data

Most of the field names are given in the `ks2_meta` file, so we'll use that to keep track of the types of various columns.

In [3]:
ks2cols = pd.read_csv('data/2015-2016/ks2_meta.csv')
ks2cols['Field Name'] = ks2cols['Field Name'].apply(lambda r: r.strip(),)
ks2cols

,Column,Field Name,Label/Description
0,1,RECTYPE,Record type (1=mainstream school; 2=special sc...
1,2,ALPHAIND,Alphabetic index
2,3,LEA,Local authority number
3,4,ESTAB,Establishment number
4,5,URN,School unique reference number
5,6,SCHNAME,School/Local authority name
6,7,ADDRESS1,School address (1)
7,8,ADDRESS2,School address (2)
8,9,ADDRESS3,School address (3)
9,10,TOWN,School town
10,11,PCODE,School postcode
11,12,TELNUM,School telephone number
12,13,URN_AC,Converter academy: URN
13,14,SCHNAME_AC,Converter academy: name
14,15,OPEN_AC,Converter academy: open date
15,16,NFTYPE,School type
16,17,ICLOSE,Closed Flag
17,18,RELDENOM,Religious denomination
18,19,AGERANGE,Age range
19,20,CONFEXAM,Confirmation flag that core performance inform...
20,21,TAB15,School published in secondary school (key stag...
21,22,TAB1618,School published in school and college (key st...
22,23,TOTPUPS,Total number of pupils (including part-time pu...
23,24,TPUPYEAR,Number of pupils aged 11
24,25,TELIG,Published eligible pupil number
25,26,BELIG,Eligible boys on school roll at time of tests
26,27,GELIG,Eligible girls on school roll at time of tests
27,28,PBELIG,Percentage of eligible boys on school roll at ...
28,29,PGELIG,Percentage of eligible girls on school roll at...
29,30,TKS1AVERAGE,Cohort level key stage 1 average points score
...,...,...,...
229,230,PTGPS_HIGH_M,Percentage of pupils with medium prior attainm...
230,231,PTGPS_HIGH_H,Percentage of pupils with high prior attainmen...
231,232,PTGPS_HIGH_FSM6CLA1A,Percentage of disadvantaged pupils achieving a...
232,233,PTGPS_HIGH_NotFSM6CLA1A,Percentage of non-disadvantaged pupils achievi...
233,234,PTMAT_HIGH_L,Percentage of pupils with low prior attainment...
234,235,PTMAT_HIGH_M,Percentage of pupils with medium prior attainm...
235,236,PTMAT_HIGH_H,Percentage of pupils with high prior attainmen...
236,237,PTMAT_HIGH_FSM6CLA1A,Percentage of disadvantaged pupils achieving a...
237,238,PTMAT_HIGH_NotFSM6CLA1A,Percentage of non-disadvantaged pupils achievi...
238,239,PTWRITTA_HIGH_L,Percentage of pupils with low prior attainment...
239,240,PTWRITTA_HIGH_M,Percentage of pupils with medium prior attainm...
240,241,PTWRITTA_HIGH_H,Percentage of pupils with high prior attainmen...
241,242,PTWRITTA_HIGH_FSM6CLA1A,Percentage of disadvantaged pupils working at ...
242,243,PTWRITTA_HIGH_NotFSM6CLA1A,Percentage of non-disadvantaged pupils working...
243,244,TEALGRP1,Number of eligible pupils with English as firs...
244,245,PTEALGRP1,Percentage of eligible pupils with English as ...
245,246,TEALGRP3,Number of eligible pupils with unclassified la...
246,247,PTEALGRP3,Percentage of eligible pupils with unclassifie...
247,248,TSENELAPK,Number of eligible pupils with SEN without sta...
248,249,PSENELSAPK,Percentage of eligible pupils with SEN without...
249,250,TSENELE,Number of eligible pupils with EHC plan
250,251,PSENELE,Percentage of eligible pupils with EHC plan
251,252,TSENELK,Number of eligible pupils with SEN support
252,253,PSENELK,Percentage of eligible pupils with SEN support
253,254,TSENELST,Number of eligible pupils with SEN (Special Ed...
254,255,PSENELST,Percentage of eligible pupils with SEN (Specia...
255,256,TSENELSAP,Number of eligible pupils with School Action Plus
256,257,PSENELSAP,Percentage of eligible pupils with School Acti...
257,258,SENELN,Number of eligible pupils with SEN (Special Ed...
258,259,PSENELN,Percentage of eligible pupils with SEN (Specia...

Some columns contain integers, but _**pandas**_ will treat any numeric column with `na` values as `float64`, due to NumPy's number type hierarchy.

In [4]:
int_cols = [c for c in ks2cols['Field Name'] 
            if c.startswith('T')
            if c not in ['TOWN', 'TELNUM', 'TKS1AVERAGE']]
int_cols += ['RECTYPE', 'ALPHAIND', 'LEA', 'ESTAB', 'URN', 'URN_AC', 'ICLOSE']
int_cols += ['READ_AVERAGE', 'GPS_AVERAGE', 'MAT_AVERAGE']

Some columns contain percentages. We'll convert these to floating point numbers on import.

Note that we also need to handle the case of `SUPP` and `NEW` in the data.

In [5]:
def p2f(x):
    if x.strip('%').isnumeric():
        return float(x.strip('%'))/100
    elif x in ['SUPP', 'NEW', 'LOWCOV', 'NA', '']:
        return 0.0
    else:
        return x

These are the columns to try to convert from percentages. Note that we can be generous here, as columns like PCODE (postcode) will return the original value if the conversion fails.

In [6]:
percent_cols = [f for f in ks2cols['Field Name'] if f.startswith('P')]
percent_cols += ['WRITCOV', 'MATCOV', 'READCOV'] 
percent_cols += ['PTMAT_HIGH', 'PTREAD_HIGH', 'PSENELSAPK', 'PSENELK', 'PTGPS_HIGH']
percent_converters = {c: p2f for c in percent_cols}

In [7]:
ks2_df = pd.read_csv('data/2015-2016/england_ks2final.csv', 
                   na_values=['SUPP', 'NEW', 'LOWCOV', 'NA', ''],
                   converters=percent_converters)

Drop the summary rows, keeping just the rows for mainstream and special schools.

In [8]:
ks2_df = ks2_df[(ks2_df['RECTYPE'] == 1) | (ks2_df['RECTYPE'] == 2)]

Convert everything to numbers, if possible.

In [9]:
ks2_df = ks2_df.apply(pd.to_numeric, errors='ignore')

Merge the LEA data into the school data

In [10]:
ks2_df = pd.merge(ks2_df, leas_df, on=['LEA'])
ks2_df.head().T

,0,1,2,3,4
RECTYPE,1,1,1,1,1
ALPHAIND,53372,11156,11160,11256,16366
LEA,201,202,202,202,202
ESTAB,3614,3323,3327,2842,2184
URN,100000,100028,100029,130342,100013
SCHNAME,Sir John Cass's Foundation Primary School,"Christ Church Primary School, Hampstead",Christ Church School,Christopher Hatton Primary School,Edith Neville Primary School
ADDRESS1,St James's Passage,Christ Church Hill,Redhill Street,38 Laystall Street,174 Ossulston Street
ADDRESS2,Duke's Place,NaN,Camden,NaN,NaN
ADDRESS3,NaN,NaN,NaN,NaN,NaN
TOWN,London,London,London,London,London
PCODE,EC3A 5DE,NW3 1JH,NW1 4BD,EC1R 4PQ,NW1 1DN
TELNUM,0207 2831147,0207 4351361,0207 3877881,0207 2784500,0207 3877158
URN_AC,0,0,0,0,0
SCHNAME_AC,NaN,NaN,NaN,NaN,NaN
OPEN_AC,NaN,NaN,NaN,NaN,NaN
NFTYPE,VA,VA,VA,CY,CY
ICLOSE,0,0,0,0,0
RELDENOM,Church of England,Church of England,Church of England,Does not apply,Does not apply
AGERANGE,3-11,4-11,3-11,3-11,3-11
CONFEXAM,NaN,NaN,NaN,NaN,NaN
TAB15,0,0,0,0,0
TAB1618,0,0,0,0,0
TOTPUPS,250,181,229,233,221
TPUPYEAR,28,23,29,28,29
TELIG,28,21,28,28,29
BELIG,16,16,17,16,9
GELIG,12,5,11,12,20
PBELIG,0.57,0.76,0.61,0.57,0.31
PGELIG,0.43,0.24,0.39,0.43,0.69
TKS1AVERAGE,16,16.7,14,16,14.5
...,...,...,...,...,...
PTGPS_HIGH_NotFSM6CLA1A,0.31,0,0.27,0.5,0.56
PTMAT_HIGH_L,0,0,0,0,0
PTMAT_HIGH_M,0.15,0.25,0.16,0.12,0.32
PTMAT_HIGH_H,0.33,0.83,0,0.29,0
PTMAT_HIGH_FSM6CLA1A,0.08,0,0.12,0.17,0.25
PTMAT_HIGH_NotFSM6CLA1A,0.25,0,0.18,0.25,0.44
PTWRITTA_HIGH_L,0,0,0,0,0
PTWRITTA_HIGH_M,0.05,0.33,0.11,0.06,0.09
PTWRITTA_HIGH_H,0.5,0.83,0,0.57,0
PTWRITTA_HIGH_FSM6CLA1A,0,0,0.18,0.17,0.1
PTWRITTA_HIGH_NotFSM6CLA1A,0.25,0,0.09,0.19,0.11
TEALGRP1,10,7,13,11,0
PTEALGRP1,0.36,0.33,0.46,0.39,0
TEALGRP3,0,0,0,0,0
PTEALGRP3,0,0,0,0,0
TSENELAPK,5,2,6,5,11
PSENELSAPK,0.18,0.1,0.21,0.18,0.38
TSENELE,0,0,1,0,0
PSENELE,0,0,0.04,0,0
TSENELK,5,2,6,5,11
PSENELK,0.18,0.1,0.21,0.18,0.38
TSENELST,0,0,0,0,0
PSENELST,0,0,0,0,0
TSENELSAP,0,0,0,0,0
PSENELSAP,0,0,0,0,0
SENELN,0,0,0,0,0
PSENELN,0,0,0,0,0
LA Name,City of London,Camden,Camden,Camden,Camden
REGION,32,31,31,31,31
REGION NAME,London East,London Central,London Central,London Central,London Central

# Getting a feel for the data

In [11]:
!head -5 'data/2015-2016/england_ks2final.csv'

Decide it would help the analysis to use mongodb

In [12]:
!/usr/bin/mongoimport --port 27351 --drop --db ks2 --collection ks2_data \
    --type csv --headerline --ignoreBlanks \
    --file data/2015-2016/england_ks2final.csv

2018-03-22T13:05:01.533+0000	connected to: localhost:27351
2018-03-22T13:05:01.533+0000	dropping: ks2.ks2_data
2018-03-22T13:05:04.534+0000	[##############..........] ks2.ks2_data	10.1MB/16.5MB (61.0%)
2018-03-22T13:05:06.338+0000	[########################] ks2.ks2_data	16.5MB/16.5MB (100.0%)
2018-03-22T13:05:06.338+0000	imported 16316 documents

In [13]:
# import the required libraries
import pymongo
import bson

In [14]:
# Open a connection to the Mongo server
client = pymongo.MongoClient('mongodb://localhost:27351/')

In [15]:
# open the imported databse and collection
db = client.ks2
ks2_data = db.ks2_data

In [16]:
# check the number of documents matches those given above

In [17]:
ks2_data.find().count()

16316

In [18]:
# look at one document
ks2_data.find_one()

{'BELIG': 302432,
 'DIFFN_MATPROG': 0,
 'DIFFN_READPROG': 0,
 'DIFFN_RWM_EXP': 0,
 'DIFFN_RWM_HIGH': 0,
 'DIFFN_WRITPROG': 0,
 'GELIG': 289836,
 'GPS_AVERAGE': 104,
 'GPS_AVERAGE_FSM6CLA1A': 102,
 'GPS_AVERAGE_H': 110,
 'GPS_AVERAGE_L': 94,
 'GPS_AVERAGE_M': 103,
 'GPS_AVERAGE_NotFSM6CLA1A': 105,
 'MATPROG_B': 0,
 'MATPROG_B_LOWER': 0,
 'MATPROG_B_UPPER': 0,
 'MATPROG_EAL': 0,
 'MATPROG_EAL_LOWER': 0,
 'MATPROG_EAL_UPPER': 0,
 'MATPROG_FSM6CLA1A': 0,
 'MATPROG_FSM6CLA1A_LOWER': 0,
 'MATPROG_FSM6CLA1A_UPPER': 0,
 'MATPROG_G': 0,
 'MATPROG_G_LOWER': 0,
 'MATPROG_G_UPPER': 0,
 'MATPROG_H': 0,
 'MATPROG_H_LOWER': 0,
 'MATPROG_H_UPPER': 0,
 'MATPROG_L': 0,
 'MATPROG_L_LOWER': 0,
 'MATPROG_L_UPPER': 0,
 'MATPROG_M': 0,
 'MATPROG_MOBN': 0,
 'MATPROG_MOBN_LOWER': 0,
 'MATPROG_MOBN_UPPER': 0,
 'MATPROG_M_LOWER': 0,
 'MATPROG_M_UPPER': 0,
 'MATPROG_NotFSM6CLA1A': 0,
 'MATPROG_NotFSM6CLA1A_LOWER': 0,
 'MATPROG_NotFSM6CLA1A_UPPER': 0,
 'MAT_AVERAGE': 103,
 'MAT_AVERAGE_FSM6CLA1A': 101,
 'MAT_AVERAGE_H': 109,
 'MAT_AVERAGE_L': 94,
 'MAT_AVERAGE_M': 102,
 'MAT_AVERAGE_NotFSM6CLA1A': 104,
 'PBELIG': '51%',
 'PGELIG': '49%',
 'PSENELE': '1%',
 'PSENELK': '14%',
 'PSENELN': '0%',
 'PSENELSAP': '0%',
 'PSENELSAPK': '14%',
 'PSENELSE': '3%',
 'PSENELST': '2%',
 'PTEALGRP1': '80%',
 'PTEALGRP2': '19%',
 'PTEALGRP3': '1%',
 'PTFSM6CLA1A': '32%',
 'PTGPS_AT': '0%',
 'PTGPS_EXP': '73%',
 'PTGPS_EXP_FSM6CLA1A': '61%',
 'PTGPS_EXP_H': '98%',
 'PTGPS_EXP_L': '17%',
 'PTGPS_EXP_M': '73%',
 'PTGPS_EXP_NotFSM6CLA1A': '78%',
 'PTGPS_HIGH': '23%',
 'PTGPS_HIGH_FSM6CLA1A': '14%',
 'PTGPS_HIGH_H': '55%',
 'PTGPS_HIGH_L': '1%',
 'PTGPS_HIGH_M': '12%',
 'PTGPS_HIGH_NotFSM6CLA1A': '27%',
 'PTKS1GROUP_H': '29%',
 'PTKS1GROUP_L': '12%',
 'PTKS1GROUP_M': '59%',
 'PTKS1GROUP_NA': '5%',
 'PTMATTA_AD': '0%',
 'PTMATTA_EXP': '78%',
 'PTMAT_AT': '0%',
 'PTMAT_EXP': '70%',
 'PTMAT_EXP_FSM6CLA1A': '57%',
 'PTMAT_EXP_H': '97%',
 'PTMAT_EXP_L': '19%',
 'PTMAT_EXP_M': '68%',
 'PTMAT_EXP_NotFSM6CLA1A': '76%',
 'PTMAT_HIGH': '17%',
 'PTMAT_HIGH_FSM6CLA1A': '9%',
 'PTMAT_HIGH_H': '43%',
 'PTMAT_HIGH_L': '1%',
 'PTMAT_HIGH_M': '7%',
 'PTMAT_HIGH_NotFSM6CLA1A': '20%',
 'PTMOBN': '91%',
 'PTNotFSM6CLA1A': '68%',
 'PTREADTA_AD': '0%',
 'PTREADTA_EXP': '80%',
 'PTREAD_AT': '0%',
 'PTREAD_EXP': '66%',
 'PTREAD_EXP_FSM6CLA1A': '53%',
 'PTREAD_EXP_H': '95%',
 'PTREAD_EXP_L': '17%',
 'PTREAD_EXP_M': '64%',
 'PTREAD_EXP_NotFSM6CLA1A': '72%',
 'PTREAD_HIGH': '19%',
 'PTREAD_HIGH_FSM6CLA1A': '10%',
 'PTREAD_HIGH_H': '46%',
 'PTREAD_HIGH_L': '1%',
 'PTREAD_HIGH_M': '10%',
 'PTREAD_HIGH_NotFSM6CLA1A': '23%',
 'PTRWM_EXP': '53%',
 'PTRWM_EXP_B': '50%',
 'PTRWM_EXP_EAL': '50%',
 'PTRWM_EXP_FSM6CLA1A': '39%',
 'PTRWM_EXP_G': '57%',
 'PTRWM_EXP_H': '91%',
 'PTRWM_EXP_L': '6%',
 'PTRWM_EXP_M': '47%',
 'PTRWM_EXP_MOBN': '55%',
 'PTRWM_EXP_NotFSM6CLA1A': '60%',
 'PTRWM_HIGH': '5%',
 'PTRWM_HIGH_B': '5%',
 'PTRWM_HIGH_EAL': '5%',
 'PTRWM_HIGH_FSM6CLA1A': '2%',
 'PTRWM_HIGH_G': '6%',
 'PTRWM_HIGH_H': '17%',
 'PTRWM_HIGH_L': '0%',
 'PTRWM_HIGH_M': '1%',
 'PTRWM_HIGH_MOBN': '6%',
 'PTRWM_HIGH_NotFSM6CLA1A': '7%',
 'PTSCITA_AD': '0%',
 'PTSCITA_EXP': '81%',
 'PTWRITTA_AD': '0%',
 'PTWRITTA_EXP': '74%',
 'PTWRITTA_EXP_FSM6CLA1A': '64%',
 'PTWRITTA_EXP_H': '97%',
 'PTWRITTA_EXP_L': '20%',
 'PTWRITTA_EXP_M': '76%',
 'PTWRITTA_EXP_NotFSM6CLA1A': '79%',
 'PTWRITTA_HIGH': '15%',
 'PTWRITTA_HIGH_FSM6CLA1A': '8%',
 'PTWRITTA_HIGH_H': '39%',
 'PTWRITTA_HIGH_L': '0%',
 'PTWRITTA_HIGH_M': '6%',
 'PTWRITTA_HIGH_NotFSM6CLA1A': '18%',
 'PTWRITTA_WTS': '19%',
 'READPROG_B': 0,
 'READPROG_B_LOWER': 0,
 'READPROG_B_UPPER': 0,
 'READPROG_EAL': 0,
 'READPROG_EAL_LOWER': 0,
 'READPROG_EAL_UPPER': 0,
 'READPROG_FSM6CLA1A': 0,
 'READPROG_FSM6CLA1A_LOWER': 0,
 'READPROG_FSM6CLA1A_UPPER': 0,
 'READPROG_G': 0,
 'READPROG_G_LOWER': 0,
 'READPROG_G_UPPER': 0,
 'READPROG_H': 0,
 'READPROG_H_LOWER': 0,
 'READPROG_H_UPPER': 0,
 'READPROG_L': 0,
 'READPROG_L_LOWER': 0,
 'READPROG_L_UPPER': 0,
 'READPROG_M': 0,
 'READPROG_MOBN': 0,
 'READPROG_MOBN_LOWER': 0,
 'READPROG_MOBN_UPPER': 0,
 'READPROG_M_LOWER': 0,
 'READPROG_M_UPPER': 0,
 'READPROG_NotFSM6CLA1A': 0,
 'READPROG_NotFSM6CLA1A_LOWER': 0,
 'READPROG_NotFSM6CLA1A_UPPER': 0,
 'READ_AVERAGE': 103,
 'READ_AVERAGE_FSM6CLA1A': 100,
 'READ_AVERAGE_H': 109,
 'READ_AVERAGE_L': 93,
 'READ_AVERAGE_M': 101,
 'READ_AVERAGE_NotFSM6CLA1A': 104,
 'RECTYPE': 4,
 'TEALGRP1': 472757,
 'TEALGRP2': 111991,
 'TEALGRP3': 7520,
 'TELIG': 592268,
 'TFSM6CLA1A': 187169,
 'TKS1AVERAGE': 15.6,
 'TKS1GROUP_H': 160882,
 'TKS1GROUP_L': 68492,
 'TKS1GROUP_M': 331050,
 'TKS1GROUP_NA': 31844,
 'TMOBN': 540726,
 'TNotFSM6CLA1A': 405099,
 'TOTPUPS': 4491850,
 'TPUPYEAR': 592719,
 'WRITPROG_B': 0,
 'WRITPROG_B_LOWER': 0,
 'WRITPROG_B_UPPER': 0,
 'WRITPROG_EAL': 0,
 'WRITPROG_EAL_LOWER': 0,
 'WRITPROG_EAL_UPPER': 0,
 'WRITPROG_FSM6CLA1A': 0,
 'WRITPROG_FSM6CLA1A_LOWER': 0,
 'WRITPROG_FSM6CLA1A_UPPER': 0,
 'WRITPROG_G': 0,
 'WRITPROG_G_LOWER': 0,
 'WRITPROG_G_UPPER': 0,
 'WRITPROG_H': 0,
 'WRITPROG_H_LOWER': 0,
 'WRITPROG_H_UPPER': 0,
 'WRITPROG_L': 0,
 'WRITPROG_L_LOWER': 0,
 'WRITPROG_L_UPPER': 0,
 'WRITPROG_M': 0,
 'WRITPROG_MOBN': 0,
 'WRITPROG_MOBN_LOWER': 0,
 'WRITPROG_MOBN_UPPER': 0,
 'WRITPROG_M_LOWER': 0,
 'WRITPROG_M_UPPER': 0,
 'WRITPROG_NotFSM6CLA1A': 0,
 'WRITPROG_NotFSM6CLA1A_LOWER': 0,
 'WRITPROG_NotFSM6CLA1A_UPPER': 0,
 '_id': ObjectId('5ab3a9fd20d68895d0684be1')}

In [21]:
# lets quickly look at these as a dataframe
results_df = pd.DataFrame(list(ks2_data.find())).head()

,ADDRESS1,ADDRESS2,ADDRESS3,AGERANGE,ALPHAIND,BELIG,CONFEXAM,DIFFN_MATPROG,DIFFN_READPROG,DIFFN_RWM_EXP,...,WRITPROG_MOBN,WRITPROG_MOBN_LOWER,WRITPROG_MOBN_UPPER,WRITPROG_M_LOWER,WRITPROG_M_UPPER,WRITPROG_NotFSM6CLA1A,WRITPROG_NotFSM6CLA1A_LOWER,WRITPROG_NotFSM6CLA1A_UPPER,WRITPROG_UPPER,_id
0,NaN,NaN,NaN,NaN,NaN,302432,NaN,0,0,0,...,0,0,0,0,0,0,0,0,NaN,5ab3a9fd20d68895d0684be1
1,NaN,NaN,NaN,NaN,NaN,299318,NaN,0,0,0,...,0.1,0,0,0,0,0.1,0,0,NaN,5ab3a9fd20d68895d0684be2
2,St James's Passage,Duke's Place,NaN,3-11,53372.0,16,NaN,2.7,0.6,23,...,2.2,-0.1,4.5,-0.8,4.8,3.6,0.5,6.7,4.5,5ab3a9fd20d68895d0684be3
3,NaN,NaN,NaN,NaN,NaN,16,NaN,2.7,0.6,23,...,2.2,-0.1,4.5,-0.8,4.8,3.6,0.5,6.7,4.5,5ab3a9fd20d68895d0684be4
4,Christ Church Hill,NaN,NaN,4-11,11156.0,16,NaN,SUPP,SUPP,SUPP,...,4,1.1,6.9,0.1,7.3,SUPP,SUPP,SUPP,6.9,5ab3a9fd20d68895d0684be5

There quite a few NaNs in there but before cleaning I will decide on which column information I am interested in.

With there being so many different columns it is quite hard to read them all

In [35]:
# get a subset of data to look at
# DataFrame containing School Type, Perceentage of math expected standars and Reading expecting standard
type_math_read_df = pd.DataFrame(list(ks2_data.find({},{'_id':0, 'NFTYPE': 1, 'PTMAT_EXP':1, 'PTMAT_HIGH':1, 'PTREAD_EXP':1, 'PTREAD_HIGH':1})))
type_math_read_df.head()

  NFTYPE PTMAT_EXP PTMAT_HIGH PTREAD_EXP PTREAD_HIGH
0    NaN       70%        17%        66%         19%
1    NaN       70%        17%        66%         19%
2     VA      100%        18%        93%         18%
3    NaN      100%        18%        93%         18%
4     VA       90%        43%        86%         48%

In [37]:
# Container containing the mean values of each measure for each school type
means_df = type_math_read_df.groupby('NFTYPE')['PTMAT_EXP','PTMAT_HIGH', 'PTREAD_EXP', 'PTREAD_HIGH'].mean()
means_df

DataError: No numeric types to aggregate

In [39]:
type_math_read_df['PTMAT_EXP'].describe()

count     15769
unique       98
top        SUPP
freq        483
Name: PTMAT_EXP, dtype: object